@import "tailwindcss";
@tailwind utilities;

/*
    Con esta directiva @theme de tailwindcss, puedo definir cuales clases de utilidad (className)
    existen en el proyecto.
    Se pueden definir variables para utilizar como clases en los componentes.
    
    https://tailwindcss.com/docs/theme

    Asi puedo cambiar los valores de las clases de manera global, --color-azulcfl se convertiria en
    la clase bg-azulcfl.
    Cambiando los valores de la funcion oklch() (es simplemente un selector de color) puedo ajustar
    el color de todos los elementos que usen la clase bg-azulcfl

    documentación oklch
    https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/color_value/oklch

    de aca podemos sacar los colores para usar en la funcion

    https://oklch.com

    conversor de px a rem
    
    https://nekocalc.com/px-to-rem-converter
*/
@theme {
    --cflazul: hsl(216.04 100% 56.00000000000001%);
    --cflnaranja: hsl(30.11 100% 44%);
    --cflgris1: hsl(340 0% 86%);
    --cflgris2: hsl(330 0% 11%);
    --cflblanco: hsl(300 50% 100%);

    --color-fondoprimario: var(--cflblanco);
    --color-txttitularprimario: var(--cflazul);
    --color-txtprimario: var(--cflgris2);

    --color-fondosecundario: var(--cflazul);
    --color-txttitularsecundario: var(--cflblanco);
    --color-txtsecundario: var(--cflblanco);

    --color-fondoterciario: var(--cflgris1);
    --color-txttitularterciario: var(--cflblanco);
    --color-txtterciario: var(--cflazul);
    
    --color-botonprimario: var(--cflazul);
    --color-botonsecundario: var(--cflblanco);
    --color-botonhover: var(--cflnaranja);

    --breakpoint-bp750: 47rem;
    --breakpoint-bp600: 37.5rem;
}
/*
@layer utilities {
      /* Esconde el scrollbar en Chrome, Safari y Opera 
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Esconde el scrollbar en IE, Edge and Firefox 
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE y Edge 
          scrollbar-width: none;  /* Firefox 
    }
  }

*/
