.map-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
.map {
    height: 350px;
    width: 350px;
    margin: 30px;
    border: 1px solid gray;
    background-color: rgb(125, 193, 220);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    border-radius: 5px;
}
  
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 5px;
  

}